<header>
  <mat-toolbar color="primary" class="flex justify-between">
    <a [routerLink]="['/welcome']" aria-label="Go to welcome page">
      <img
        src="assets/img/logo_56.png"
        alt="Gamer Gauntlet Logo"
        class="w-14 h-14 cursor-pointer"
      />
    </a>
    <!-- <span>Gamer Gauntlet</span> -->
    <div>
      <button
        mat-stroked-button
        color="accent"
        type="submit"
        (click)="presentSignIn()"
        *ngIf="!(convexService.isAuthenticated$ | async)"
      >
        Sign In
      </button>

      <div *ngIf="convexService.isAuthenticated$ | async">
        <app-avatar></app-avatar>
      </div>
    </div>
  </mat-toolbar>
</header>
<main class="py-xxs px-bl-2 md:px-xxs 2xl:px-64">
  <router-outlet />
</main>
