<div class="max-w-none text-center">
  <h1>Welcome to Gamer Gauntlet</h1>
  <p>Browse for a tournament to join, or create your own!</p>
  <div class="flex gap-xxs justify-center">
    <button
      mat-flat-button
      color="primary"
      type="button"
      [routerLink]="['/tournaments', 'browse']"
    >
      Browse Tournaments
    </button>
    <button
      mat-flat-button
      color="accent"
      type="button"
      [routerLink]="['/tournaments', 'new']"
    >
      Create Tournament
    </button>
  </div>
</div>
