<mat-card>
  <mat-card-header>
    <mat-card-title>New Tournament</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form
      class="grid grid-cols-2 gap-xxs"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <div class="col-span-2 lg:col-span-1">
        <mat-form-field class="w-full">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Tournament Name"
            value=""
            formControlName="name"
          />
        </mat-form-field>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <mat-form-field class="w-full">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            @for (
              type of tournamentsFacadeService.tournamentTypeOptions$ | async;
              track type
            ) {
              <mat-option [value]="type.value">{{ type.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-span-2">
        <mat-form-field class="w-full">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Tournament Description"
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <mat-form-field class="w-full">
          <mat-label>Game</mat-label>
          <mat-select
            formControlName="game"
            (selectionChange)="onGameChange($event.value)"
          >
            @for (
              game of tournamentsFacadeService.gameOptions$ | async;
              track game
            ) {
              <mat-option [value]="game.value">{{ game.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <mat-form-field class="w-full">
          <mat-label>Platforms</mat-label>
          <mat-select
            formControlName="platforms"
            multiple
            [disabled]="gamePlatformsOptions().length === 0"
          >
            @for (platform of gamePlatformsOptions(); track platform) {
              <mat-option [value]="platform.value">{{
                platform.label
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <button class="col-span-2" mat-flat-button color="primary" type="submit">
        Create Tournament
      </button>
    </form>
  </mat-card-content>
</mat-card>
