@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@import "styles/theme";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

//@import "styles/button";
// @import "styles/input";
// @import "styles/card";
@import "styles/expansion-panel";
@import "styles/snackbar";
@import "styles/ckeditor";

@media (prefers-color-scheme: dark) {
  .dynamic-theme {
    @include mat.all-component-themes($m3-dark-theme);
    @apply text-neutral-300 bg-neutral-900;
  }
}

@media (prefers-color-scheme: light) {
  .dynamic-theme {
    @include mat.all-component-themes($m3-light-theme);
    @apply text-neutral-700 bg-neutral-100;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
