<mat-card>
  <mat-card-header class="flex flex-row">
    <div class="basis-1/2">
      <mat-card-title>{{
        (tournamentFacadeService.selectedTournament$ | async)?.name
      }}</mat-card-title>
      <mat-card-subtitle
        >Hosted by
        {{
          (tournamentFacadeService.selectedTournament$ | async)?.owner.firstName
        }}</mat-card-subtitle
      >
    </div>

    <div class="basis-1/2"></div>
    @if (isTournamentOwner() | async) {
      <a mat-button mat-flat-button color="primary" [routerLink]="['../admin']">
        Admin
      </a>
    }
  </mat-card-header>
  <mat-card-content>
    <div class="details">
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>games</mat-icon>
          <div matListItemTitle>
            {{
              (tournamentFacadeService.selectedTournament$ | async)?.game.name
            }}
          </div>
          <div matListItemLine>
            {{
              platformsToString(
                (tournamentFacadeService.selectedTournament$ | async)?.platforms
              )
            }}
          </div>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon>format_line_spacing</mat-icon>
          <div matListItemTitle>
            {{
              (tournamentFacadeService.selectedTournament$ | async)?.type.name
            }}
          </div>
        </mat-list-item>

        <!-- <mat-list-item>
            <mat-icon>view_module</mat-icon>
            <h4 matLine>Format: {{ (tournamentFacadeService.selectedTournament$ | async)?.format }}</h4>
          </mat-list-item> -->
      </mat-list>
    </div>
    <div class="players">
      <h4>Players:</h4>
      <mat-list dense *ngIf="0 > 0">
        <!-- <mat-list-item *ngFor="let player of tournament.players">
            <mat-icon>account_circle</mat-icon>
            <h4 matLine>{{ player.name }}</h4>
          </mat-list-item> -->
      </mat-list>
      <p *ngIf="0 === 0">No players registered yet.</p>
    </div>
  </mat-card-content>
</mat-card>
